[Desktop Entry]
Encoding=UTF-8
Name=vrq
Comment=vrq P2P Cryptocurrency
Comment[fr]=vrq, monnaie virtuelle cryptographique pair à pair
Comment[tr]=vrq, eşten eşe kriptografik sanal para birimi
Exec=vrq-qt %u
Terminal=false
Type=Application
Icon=vrq128
MimeType=x-scheme-handler/vrq;
Categories=Office;Finance;
