[Unit]
Description=vrq's distributed currency daemon
After=network.target

[Service]
User=vrq
Group=vrq

Type=forking
PIDFile=/var/lib/vrqd/vrqd.pid

ExecStart=/usr/bin/vrqd -daemon -pid=/var/lib/vrqd/vrqd.pid \
          -conf=/etc/vrq/vrq.conf -datadir=/var/lib/vrqd

ExecStop=-/usr/bin/vrq-cli -conf=/etc/vrq/vrq.conf \
         -datadir=/var/lib/vrqd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
